body {
    background-image: url(/images/wallpaper.jpg);
    padding: 110px;
    padding-top:50px;
}
/* Main container */
#container {
    display: flex;
    flex-direction: row;
    background-color:#3F370B;
    color:#3F370B;
}
/* 3 colum containers */
.container .canvas .gameStats {
    display: flex;
    flex-direction: column;
}
h2 {
    color:#3F370B;
}
.instructions {
    text-align: center;
    background-color:#D6C61F;
}
.gameStats {
    background-color:#D6C61F;
}
button {
    margin:20px;
    background-color: #3F370B;
    color: #D6C61F;
    width:200px;
    height:50px;
}
li {
    margin-top: 10px;
}